.center-circle {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: solid;
    border-color: #000;
}

textarea {
    background-color: rgba(20, 20, 20, 0.2);
    caret-color: #fff;
    resize: none;
    color: #fff;
}

.inputArea {
    display: flex;
    justify-content: center;
}
.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 30px solid black;
    position: absolute;
    top: 50%;
    right: -220%;
    transform: translateY(-50%);
}